/*Add link to font style*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/*Removed default settings*/
* {
    margin: 0;
    padding: 0;
    border: none;
}
/*Style the body color, add font style and center all text*/
body {
    background-color: brown;
    text-align: center;
    font-family: 'Indie Flower', sans-serif;
}

/*Set background color and font size for the header*/
header {
    background-color: white;
    padding-bottom: 15px;
    font-size: 2rem;
}

/*Set style for intro page and add perameters to accomadate the pagefade 
.intro {
    color: rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    transition: opacity 1s ease;
    height: 50px;
    margin-bottom: -170px;
}*/

.intro h1 {
    font-size: 15px;
}

/*Style for 404 error page*/
.intro h2 {
    margin-top: 300px;
    font-size: 150px;
}

.intro h3 {
    margin-top: 10px;
    font-size: 15px;
}

.intro a {
    text-decoration: none;
    color: whitesmoke;
}

/*Add style for the intro page image*/
.intro img {
    margin-top: 30px;
    height: 200px;
    transform: scale(0.4);
}

/*Add style for start game button*/
.intro button {
    width: 150px;
    height: 50px;
    background: none;
    border: 1px solid orangered;
    color: rgb(224, 224, 224);
    font-size: 20px;
    background: rgb(45, 70, 117);
    border-radius: 10px;
    margin-top: -50px;
    cursor: pointer;
}

/*Instruction Modal*/

#instructions-icon {
    float: right;
}

.profile-name {
    float: left;
}

