/*Add link to font style*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/*Removed default settings*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

/*Style the body color, add font style and center all text*/
body {
    background: url("../images/photofunkybackground.gif");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Indie Flower', sans-serif;
}

/*Set background color and font size for the header*/
header {
    background-color: white;
    padding-bottom: 15px;
    font-size: 2rem;
}

/*Set style for intro page and add perameters to accomadate the pagefade */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    transition: opacity 1s ease;
    height: 50px;
    margin-bottom: -170px;
}

.intro h1 {
    font-size: 15px;
}

/*Style for 404 error page*/
.intro h2 {
    margin-top: 300px;
    font-size: 150px;
}

.intro h3 {
    margin-top: 10px;
    font-size: 15px;
}

.intro a {
    text-decoration: none;
    color: whitesmoke;
}

/*Add style for the intro page image*/
.intro-image {
    margin-top: 550px;
    height: 150px;
    transform: scale(0.4);
}

#ply-button, #instructions-btn {
    box-shadow: 1px 1px 10px ;
    background-color: rgb(9, 80, 212);
    border: none;
}

#instructions-btn {
    font-size: 120%;
    margin-top: 160px;
    cursor: pointer;
    position:absolute;  
}

/*Add style for start game button and Modal contents*/
.intro button {
    font-size: 120%;
    margin-top: 150px;
    cursor: pointer;
}

/* Set Modal position, style and size*/
.modal {
    border-radius: 20px;
    box-shadow: 1px 1px 10px ;
}

#myModal {
    margin-top: 225px;
}

/*Style modal text and contents*/
#login-screen, #phrase, .result-text {
    text-transform: uppercase;
}

.modal-header {
    font-weight: bold;
    font-family: 'Rammetto One', cursive;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    margin-left: 120px;
    border: none;
}

.show-modal {
    color: var(--black); 
    width: 100%;
    height: 20rem;
    max-height: 30rem;
    max-width: 30rem;
    align-items: center;
    display: block;
    z-index: 2;
    left: 400px;
    margin-top: 150px;  
}

.modal-content {
    box-shadow: 1px 1px 20px var(--light-blue);
    padding: 4%;
    display: block !important;
    height: 100%;
}

#loginModal h2{
    font-weight: bold;
    font-family: 'Rammetto One', cursive;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    border: none; 
}

#gameWinModal h2 {
    font-weight: bold;
    font-family: 'Rammetto One', cursive;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    border: none; 
}

#gameLoseModal h2{
    font-weight: bold;
    font-family: 'Rammetto One', cursive;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    border: none; 
}

#gameWinModal p {
    font-size: 2rem;
}

#gameLoseModal p {
    font-size: 2rem;
}

/*Style Modal input and buttons */
input:focus {
    outline: none !important;  
}

input {
    width: 50%;
    box-shadow: 1px 1px 10px ;
    border: 1px solid rgb(35, 35, 164);
    font-size: 1.5rem;
    border-radius: 10px;
}

.user-input{
    font-size: 2rem;
}

.close-button {
    width: 4rem;
    box-shadow: 1px 1px 10px ;
    background-color: rgb(212, 9, 9);
    border: none;
    border-radius: 25px;
}

.restart-button {
    margin-top: 40px;
    height: 50px;
    width: 100px;
    box-shadow: 1px 1px 10px ;
    background-color: rgb(35, 35, 164);
    border-radius: 10px;
    border: none;
}

#log-user {
    margin-top: 50px;
    height: 30px;
    width: 100px;
    box-shadow: 1px 1px 10px ;
    background-color: rgb(26, 177, 6);
    border-radius: 10px;
    border: none;
}

/*Add peramater and style to accomdate the game body fade*/
.game {
    transition: opacity 0.0s ease 0.5s;
    padding-top: 400px;
    height: 50px;
    transform: translate(0%, -50%);
}

/*Add style and position the win and lose messages*/
#result {
    margin-top: -50px;
}

.results {
    font-size: 40px;
    color: rgb(189, 0, 0);
    margin-top: -30px;
}

/*Add style to the score count text*/
.score-count {
    text-align: center;
    display: inline-block;
    font-size: 2rem;
    padding-left: 180px;
    padding-right: 180px;
}

/*Add color for score counts*/
#computer-score, #player-score {
    color: #fff;
}

/*Set height for selected displayed images */
.image {
    height: 280px;
}

/*Styled and position selected displayed images */
.result-selection {
    padding-left: 120px;
    padding-right: 120px;
    transform: scale(0.8);
    display: inline-block;
}

/*Add color and position the selector icons*/
.selections {
    padding: 20px;
    text-align: center;
    margin-top: -60px;
}

.selection {
    padding: 5px;
    transform: scale(0.8);
    border-radius: 50%;
    margin: 0 20px;
    opacity: 0.8;
    display: inline-block;
    background-color: antiquewhite;
    transition: 200ms;
    cursor: pointer;
    box-shadow: 1px 1px 3px 3px green;
}

.selection:hover {
    background-color: rgb(35, 35, 164);
}

/*Style play message below the icon selectors*/
#play-message {
    font-size: 1rem;
    color: rgb(27, 1, 1);
}

.restart {
    width: 150px;
    height: 50px;
    background: none;
    border: 1px solid orangered;
    color: rgb(224, 224, 224);
    font-size: 20px;
    background: rgb(45, 70, 117);
    border-radius: 10px;
    margin-top: -50px;
    cursor: pointer;
}

/*Add fadein and fadeout perameters*/
div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}
/*Add style for footer links*/
footer {
    margin-top: 200px;
}

.float-start {
    float: left;
}  

footer a {
    color: black;
    font-size: 1rem;
}

/*Add style to adjust elements to fit screens 1200px*/
@media screen and (max-width: 1200px) {

    header {
        font-size: 20px;
        padding: 10px;
    }

    .game {
        margin-top: 80px;
    }

    .score-count {
        padding-left: 50px;
        padding-right: 50px;
        font-size: 2rem;
        padding-top: 30px;
    }

    .result-selection {
        padding-left: 20px;
        padding-right: 20px;
        transform: scale(0.6);
    }

    .show-modal {
        margin-left: -230px;
    }

    footer {
        margin-top: 250px;
    }

}

/*Add style to adjust elments to fit screens 600px*/
@media screen and (max-width: 600px) {

    header {
        font-size: 0.5rem;
        padding: 5px;
    }

    .intro h2 {
        font-size: 100px;
    }

    .intro-image {
        margin-top: 400px;
        margin-left: -40px;
        transform: scale(0.2);
    }

    .intro button {
        font-size: 80%;
        margin-top: 80px;
    }

    .game {
        margin-top: 50px;
    }

    #result{
        margin-top: -100px;
    }

    .results {
        height: 100%;
        font-size: 20px;
        padding-top: 15px;
    }

    .score-count {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 1rem;
        padding-top: 20px;
    }

    .image {
        height: 100px;
    }

    .result-selection {
        height: 100%;
        display: inline-block;
        margin-left: -20px;
        margin-right: -30px;
        transform: scale(0.2);
    } 

    .selections {
        margin-top: 30px;
    }

    .selection {
        transform: scale(0.4);
        margin: 0 0px;
    }

    .player-image {
        margin-top: -50px;
        margin-left: -50px;
        margin-right: -5px;
    }

    .computer-image {
     margin-top: -0px;
        margin-bottom: -50px;
        margin-left: -100px;
        margin-right: -5px; 
    }

    .restart-game {
        margin-top: -100px;
    }

    .show-modal {
        margin-left: -400px;
        transform: scale(0.8);
    }

    .user-input{
        font-size: 1rem;
    }

    input {
        font-size: 1rem;
    }

    #gameWinModal p {
        font-size: 1rem;
    }
    
    #gameLoseModal p {
        font-size: 1rem;
    }

    footer {
        margin-top: 75px;
    }

    footer a {
        font-size: 1rem;
    }
}
